export ASTRO_TELEMETRY_DISABLED=1

source_env_if_exists .envrc.local

##
# Example .envrc.local
#
# export FORMSPREE_CONTACT_FORM_ID=xxxxxxxx
# export CONTACT_PHONE_NUMBER_MAIN=0000000000
# export CONTACT_EMAIL_ADDR_MAIN=jack@base-layer.llc
# export CLOUDFLARE_ACCOUNT_ID=
# export CLOUDFLARE_API_TOKEN=
# export CLOUDFLARE_PAGES_PROJECT_DEV=baselayerllc-dev
# export CLOUDFLARE_PAGES_PROJECT_PROD=baselayerllc
# export CLOUDFLARE_PAGES_ROOT_DIR=baselayerllc
