export ASTRO_TELEMETRY_DISABLED=1

source_env_if_exists .envrc.local

##
# Example .envrc.local
#
# export FORMSPREE_CONTACT_FORM_ID=xxxxxx
# export CLOUDFLARE_ACCOUNT_ID=
# export CLOUDFLARE_API_TOKEN=
# export CLOUDFLARE_PAGES_PROJECT_DEV=baselayerllc-dev
# export CLOUDFLARE_PAGES_PROJECT_PROD=baselayerllc
# export CLOUDFLARE_PAGES_ROOT_DIR=baselayerllc
#
# export PUBLIC_BUSINESS_NAME="Base Layer Consulting LLC"
# export PUBLIC_BUSINESS_NAME_SHORT="Base Layer LLC"
# export PUBLIC_BUSINESS_TAGLINE="Core infrastructure and DevOps consulting for your business."
# export PUBLIC_CONTACT_EMAIL_ADDR_MAIN=jack@base-layer.llc
# export CONTACT_PHONE_NUMBER_MAIN=0000000000
